<div class="model-selector-wrap">
  <mat-button-toggle-group
    [value]="selected"
    [disabled]="saving"
    aria-label="AI model preference"
    (change)="onChange($event.value)"
  >
    <mat-button-toggle *ngFor="let opt of options" [value]="opt.value" [attr.aria-label]="opt.label">
      <mat-icon>{{ opt.icon }}</mat-icon>
      <span class="toggle-label">{{ opt.label }}</span>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-progress-spinner
    *ngIf="saving"
    diameter="20"
    mode="indeterminate"
    class="save-spinner"
  ></mat-progress-spinner>
</div>
