<div class="model-selector-wrap">
  <mat-select
    class="model-select"
    panelClass="model-select-panel"
    [value]="selected"
    [disabled]="saving"
    aria-label="AI model preference"
    (selectionChange)="onChange($event)"
  >
    <mat-select-trigger>
      <mat-icon class="trigger-icon">{{ selectedOption?.icon }}</mat-icon>
      <span class="trigger-label">{{ selectedOption?.label }}</span>
    </mat-select-trigger>
    <mat-option
      *ngFor="let opt of options"
      [value]="opt.value"
      [matTooltip]="opt.tooltip"
      matTooltipPosition="right"
      [matTooltipShowDelay]="300"
    >
      <mat-icon>{{ opt.icon }}</mat-icon>
      {{ opt.label }}
    </mat-option>
  </mat-select>

  <mat-progress-spinner
    *ngIf="saving"
    diameter="20"
    mode="indeterminate"
    class="save-spinner"
  ></mat-progress-spinner>
</div>
