<h2 mat-dialog-title class="dialog-title">
  <span class="title-icon-wrap"><mat-icon>{{ icon }}</mat-icon></span>
  {{ data.careType | t }}
</h2>

<mat-dialog-content>
  <p class="detail-row">
    <mat-icon class="row-icon">event</mat-icon>
    {{ '{0} at {1}' | t : [(data.performedAt | date:'fullDate'), (data.performedAt | date:'shortTime')] }}
  </p>

  <p class="detail-row" *ngIf="data.plantNickname">
    <mat-icon class="row-icon">local_florist</mat-icon>
    {{ data.plantNickname }}
  </p>

  <div class="notes-block" *ngIf="data.notes">
    <p class="notes-label">{{ 'Notes' | t }}</p>
    <p class="notes-text">{{ data.notes }}</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="close()">{{ 'Close' | t }}</button>
</mat-dialog-actions>
